<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Path Result</title>
</head>
<body>
    <h1>{{ modules[0] }}</h1>
    <div>
        <p>{{ text[0] }}</p>
    </div>
    <h1>{{ modules[1] }}</h1>
    <div>
        <p>{{ text[1] }}</p>
    </div>
    <h1>{{ modules[2] }}</h1>
    <div>
        <p>{{ text[2] }}</p>
    </div>
    <h1>{{ modules[3] }}</h1>
    <div>
        <p>{{ text[3] }}</p>
    </div>
    <h1>{{ modules[4] }}</h1>
    <div>
        <p>{{ text[4] }}</p>
    </div>
    
    <br>
    <a href="/generate">Go back</a>
</body>
</html>